body {
    background-image: url("Robot_Repair_background2.png");
    background-color: #aa8899;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 3vh
}

.translucent-box {
    position: static;
    display: flex;
    background-color: rgba(235, 235, 235, 0.7); /* White background with 50% opacity */
    padding: 5%; /* Adjust padding as needed */
    margin-bottom: 3vh; /* Adds space below each translucent box */
    margin-left: 3.5vw; /* Adds space below each translucent box */
    margin-right: 3.5vw; /* Adds space below each translucent box */
    border-radius: 20px; /* Optional, for rounded corners */
    /* Additional styling as needed */
}

.text-box {
    position: static;
}

.project {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    /*margin-bottom: 20px; /* Space between each project */
}

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: visible;
}

.carousel-buttons {
    flex: 0 0 6%; /* Do not grow or shrink, set basis to 6% */
    position: relative;
}

.carousel {
    flex: 1; /* Allow carousel to grow and fill the space */
    position: relative;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.slide {
    width: 80%;
    display: flex;
    justify-content: center; /* Horizontally center the contents */
    /*margin-right: 1%;
    margin-left: 1%;*/
}
.slide-ends {
    width: 10%;
    display: flex;
}

.opaque-box {
    position: static;
    display: flex;  
    background-color: rgba(255, 255, 255, 0.9); /* White background with 100% opacity */
    margin-left: 3%; 
    margin-right: 3%;
    justify-content: center;
    width: 100%;
    height: min-content;
    /*margin-bottom: 0px; /* Adds space below each translucent box */
    border-radius: 15px; /* Optional, for rounded corners */
    /* Additional styling as needed */
}

.opaque-box img {
    width: 100%;
    height: auto;
    /* margin-right: 20px; /* Space between the image and the text */
    /* Adjust size as needed */
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Standard aspect ratio for YouTube videos */
}

.opaque-box .description {
    width: 90%;
    /* Additional styling */
}

.prev, .next {
    position: sticky; /*was absolute*/
    top: 10%;
    /*transform: translateY(-50%);*/
    background-color: #ddd;
    border: none;
    border-radius: 15px; 
    padding: 0;
    cursor: pointer;
    height: 40%;
    width: 100%;
    justify-content: center;
    font-weight: bold; /* Makes the arrow bold */
    font-size: 4em; /* Adjust the size as needed */
    /* line-height: 100%; /* Adjust based on your button's height for vertical centering */
}

.prev:hover {
  background-color: bisque;
} 
.next:hover {
  background-color: bisque;
}
/*
.prev {
    left: 10%;
}

.next {
    right: 10%;
}*/
