body {
    background-image: url("Robot_Repair_background2.png");
    background-color: #aa8899;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

.translucent-box {
    position: relative;
    background-color: rgba(235, 235, 235, 0.8); /* White background with 50% opacity */
    padding: 2.5vw; /* Adjust padding as needed */
    margin-bottom: 2.5vh; /* Adds space below each translucent box */
    border-radius: 5px; /* Optional, for rounded corners */
    /* Additional styling as needed */
}

.project {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    /*margin-bottom: 20px; /* Space between each project */
}

.carousel {
    position: relative;
    width: 90%;
    overflow: hidden;
    /*margin-left: auto;
    margin-right: auto;*/
}

.carousel-slides {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.slide {
    width: 80%;
    display: flex;
    justify-content: center; /* Horizontally center the contents */
    /*margin-right: 1%;
    margin-left: 1%;*/
}

.opaque-box {
    background-color: rgba(255, 255, 255, 1.); /* White background with 50% opacity */
    padding: 5%; /* Adjust padding as needed */
    /*margin-bottom: 0px; /* Adds space below each translucent box */
    border-radius: 5px; /* Optional, for rounded corners */
    /* Additional styling as needed */
}

.opaque-box img {
    width: 100%;
    height: auto;
    /* margin-right: 20px; /* Space between the image and the text */
    /* Adjust size as needed */
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Standard aspect ratio for YouTube videos */
}

.opaque-box .description {
    padding: 5%;
    width: 100%;
    /* Additional styling */
}

.prev, .next {
    position: sticky; /*was absolute*/
    top: 0%;
    transform: translateY(100%);
    background-color: #ddd;
    border: none;
    border-radius: 5px; 
    padding: 10px;
    cursor: pointer;
    height: 400px;
    width: 5%;
    z-index: 10;
}

.prev:hover {
  background-color: bisque;
} 
.next:hover {
  background-color: bisque;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}
