body {
    background-image: url("Robot_Repair_background2.png");
    background-color: #aa8899;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

.translucent-box {
    background-color: rgba(235, 235, 235, 0.5); /* White background with 50% opacity */
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 20px; /* Adds space below each translucent box */
    border-radius: 5px; /* Optional, for rounded corners */
    /* Additional styling as needed */
}

.carousel {
    position: relative;
    width: 90%;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 90%;
    display: flex;
}

.slide img {
    height: 80px;
    
    /* Adjust size as needed */
}

.slide .description {
    padding: 20px;
    width: 50%;
    /* Additional styling */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
